 body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
   width:90%;
   margin:auto;
   overflow:hidden;
}

 .button_1{
   height:38px;
   background:white;
   boarder:0;
   padding-left: 20px;
   padding-right: 20px;
 }


/* Header **/
header{
 background:#35424a;
 color:#ffffff;
 padding-top:40px;
 min-height:70px;
 boader-botton:#blue 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top: 10px;
}

header .highlight, header .current a{
   color:#e8491d;
   font-weight:bold;
}

header a:hover{
   color:#cccccc;
   weight:bold;
}


  /* showcase */
 #showcase{
    width:100%; height:75vh;
    background-image: url('../img/fb.jpg'); no repeat0 -400px;
    text-align:center;
    color:white;
  }
  #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
#showcase p{
  font-size: 20px;
}

#newsletter{
  padding:15px;
  color:#ffffff;
  background-color: grey;
}

 #newsletter h1{
   float:left;
 }

 #newsletter form{
   float:right;
   margin-top: 15px;
 }

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

#boxes{
  width:100%;
  height:5vh;
  padding:10px;
}
 #boxes .box img{
   width:80%;
 }

 /* sidebar */
 aside#sidebar{
    <img src="siid.jpg">
 }


footer{
  padding:6px;
  margin-top:3px;
  color:white;
  background:#3d4849;
  text-align: center;
}

aside#sidebar{
  float:right;
  width:30;
}
